/* =Sponsors
===================================================== */

.wcorg-sponsors {

  > div {

    display: flex;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    text-align: center;

  }

  > div h2 {

    width: 100%;

    margin-top: $unit-default;
    margin-bottom: $unit-default;

    padding-top: $unit-default;
    border-top: 1px solid $color-border-weak;

    font-size: ms(0);
    line-height: ms(2);
    text-align: center;

    position: relative;
    z-index: 100;

    @include breakpoint(medium) {

      padding-top: 0;
      border-top: none;

      &:before,
      &:after {

        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translateX(-50%);

        border-top: 1px solid $color-border-weak;

        content: "";

        z-index: -1;

      }

      &:after {

        border-color: #fff;
        width: 16em;

        z-index: -1;

      }

    }

  }

}

.wcorg-sponsor {

  margin-bottom: 0;
  padding: $unit-xs;

  img {

    display: block;
    margin: 0 auto;
    max-height: rem(140);

  }

  h3,
  .wcorg-sponsor-description p {

    display: none;

  }

  a {

    background-color: #fff;

    img {

      @include transition-fast();

    }

    &:hover img,
    &:focus img,
    &:active img {

      filter:  grayscale(100%);
      // filter:  sepia(100%);
      opacity: .75;

    }

  }

  @include breakpoint(medium) {

    padding: $unit-s;

    img {

      max-height: rem(200);

    }

  }

}

// Large
.wcorg-sponsor-level-administrator,
.wcorg-sponsor-level-event-after-party,
.wcorg-sponsor-level-event-speakers-dinner,
.wcorg-sponsor-level-super-admin {

  @include clearfix();

  .wcorg-sponsor {

    width: percentage(1/1);

    @include breakpoint(small) {

      width: percentage(1/2);

    }

    @include breakpoint(medium) {

      width: percentage(1/3);

    }

  }

}

// Medium
.wcorg-sponsor-level-speakers-dinner,
.wcorg-sponsor-level-author,
.wcorg-sponsor-level-editor {

  @include clearfix();

  .wcorg-sponsor {

    width: percentage(1/2);

    @include breakpoint(medium) {

      width: percentage(1/4);

    }

  }

}

// Small
.wcorg-sponsor-level-subscriber,
.wcorg-sponsor-level-small-business {

  @include clearfix();

  .wcorg-sponsor {

    width: percentage(1/3);

    @include breakpoint(medium) {

      width: percentage(1/5);

    }

  }

}

// Tiny
.wcorg-sponsor-level-microsponsor {

  @include clearfix();

  .wcorg-sponsor {

    width: percentage(1/3);

    @include breakpoint(medium) {

      width: percentage(1/6);

    }

  }

}

// Hide
.wcorg-sponsor-level-community-summit-individual,
.wcorg-sponsor-level-community-summit-gold,
.wcorg-sponsor-level-community-summit-silver,
.wcorg-sponsor-level-community-summit-bronze {

  display: none!important;

}