/* =Tickets
===================================================== */

// Tickets
//
// Table for buying tickets
//
// Markup:
// <div id="tix" class="tix-js">
//  <form action="#" method="POST">
//    <table class="tix_tickets_table">
//      <thead>
//        <tr>
//          <th class="tix-column-description">Description</th>
//          <th class="tix-column-price">Price</th>
//          <th class="tix-column-remaining">Remaining</th>
//          <th class="tix-column-quantity">Quantity</th>
//        </tr>
//      </thead>
//      <tbody>
//        <tr class="tix-ticket-13">
//          <td class="tix-column-description">
//            <strong class="tix-ticket-title">WordCamp Europe - June 15-17, 2017</strong>
//            <br><span class="tix-ticket-excerpt">Your WordCamp Europe ticket covers both days of the conference - June 16, 17th and contributor day on Thursday, June 15th. It grants you access to all sessions, lunch, coffee breaks, and the after party. It includes an exclusive #WCEU 2017 t-shirt, stickers, and other great swag. </span>
//          </td>
//          <td class="tix-column-price" style="vertical-align: middle;">€&nbsp;40.00</td>
//          <td class="tix-column-remaining" style="vertical-align: middle;">488</td>
//          <td class="tix-column-quantity" style="vertical-align: middle;">
//            <select name="tix_tickets_selected[13]">
//              <option value="0">0</option>
//              <option selected="selected" value="1">1</option>
//              <option value="2">2</option>
//              <option value="3">3</option>
//              <option value="4">4</option>
//              <option value="5">5</option>
//              <option value="6">6</option>
//              <option value="7">7</option>
//              <option value="8">8</option>
//              <option value="9">9</option>
//              <option value="10">10</option>
//            </select>
//          </td>
//        </tr>
//        <tr class="tix-row-coupon">
//          <td colspan="4" style="text-align: right;">
//            <a href="#" id="tix-coupon-link" class="">Click here to enter a coupon code</a>
//            <div id="tix-coupon-container" style="display: none;">
//              <input type="text" id="tix-coupon-input" name="tix_coupon" value="">
//              <input type="submit" name="tix_coupon_submit" value="Apply Coupon">
//            </div>
//            <script>
//              // Hide the link and show the coupon form on click.
//              var link_el = document.getElementById( 'tix-coupon-link' );
//              link_el.onclick = function() {
//                this.style.display = 'none';
//                document.getElementById( 'tix-coupon-container' ).style.display = 'block';
//                document.getElementById( 'tix-coupon-input' ).focus();
//                return false;
//              };
//            </script>
//          </td>
//        </tr>
//      </tbody>
//    </table>
//    <p>
//      <input type="submit" value="Register →" style="float: right; cursor: pointer;" class="">
//      <br class="tix-clear">
//    </p>
//  </form>
// </div>
//
// Style guide: 6.tickets

#tix {

  @include clearfix();

  input[type="submit"] {}

}

/*
 * Tickets table
 */

.tix_tickets_table {

  border-top: 3px double $color-border-strong;
  border-bottom: 3px double $color-border-strong;
  margin-bottom: $unit-default;

  thead {

    th {

      color: $color-text;

    }

  }

  tbody {}

  th,
  td {

    border-color: $color-border-weak;

    &:first-child {

      padding-left: 0;

    }

    &:last-child {

      padding-right: 0;

    }

  }

  .tix-ticket-title {

    display: block;
    font-size: ms(1);
    color: $color-text-strong;

    + br {

      display: none;

    }

  }

  .tix-ticket-excerpt {

    display: block;
    margin-top: rem(4);
    color: $color-text;

  }

  .tix-column-description {}

  .tix-column-price,
  .tix-column-remaining,
  .tix-column-quantity {

    font-weight: $bold;

  }

  .tix-row-coupon {}

}

/*
 * Coupons
 */

.tix-coupon-link {}

#tix-coupon-container {

  position: relative;
  padding-right: rem(160);

  input[type="text"] {

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

  }

  input[type="submit"] {

    position: absolute;
    top: 0;
    right: 0;
    width: rem(160);

    padding: rem(7) rem(10);

    color: $color-text-strong-invert;
    background-color: $color-button-secondary;

    border-top-left-radius: 0;
    border-bottom-left-radius: 0;

  }

}

/*
 * Tickets table on mobile
 *
 * Collapse columns to rows
 */

@include breakpoint(to-medium) {

  .tix_tickets_table {

    thead {

      tr {

        display: none;

      }

    }

    tbody {

      .tix-column-description {

        display: block;
        width: 100%;

      }

      .tix-column-price,
      .tix-column-remaining,
      .tix-column-quantity {

        display: block;
        float: left;

      }

      .tix-column-price {

        padding-top: rem(16);
        padding-bottom: rem(16);
        padding-left: 0;
        line-height: em(24,16);
        width: 30%;

      }

      .tix-column-remaining {

        padding-top: rem(16);
        padding-bottom: rem(16);
        line-height: em(24,16);
        width: 30%;

      }

      .tix-column-quantity {

        width: 40%;

      }

    }

  }

}