/* =Post
===================================================== */

// Post
//
// Post entry
//
// Markup:
// <article class="post type-post status-publish format-standard has-post-thumbnail hentry category-news tag-wceu-2016">
//  <header class="entry-header">
//    <h1 class="entry-title"><a href="#" title="Permalink to WordCamp Europe 2016: The big recap | #WCEU" rel="bookmark">WordCamp Europe 2016: The big recap | #WCEU</a></h1>
//    <div class="entry-meta">
//      Posted on
//      <a href="#" title="12:44 pm" rel="bookmark">
//        <time class="entry-date" datetime="2016-07-26T12:44:02+00:00" pubdate="">July 26, 2016</time>
//      </a>
//      <span class="byline"> by
//        <span class="author vcard">
//          <a class="url fn n" href="#" title="View all posts by Mark Johnson" rel="author">Mark Johnson</a>
//        </span>
//      </span>
//    </div>
//  </header>
//  <div class="entry-content">
//    <p>Lorem ipsum dolor sit amet, <a href="#">consectetur adipisicing</a> elit. Facere fugiat eligendi tempora, harum minus repudiandae iure maiores praesentium vitae nam itaque, natus ullam quaerat, incidunt nihil sed ipsum voluptas. Provident.</p>
//    <p>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Accusamus laborum alias eaque, maxime numquam id impedit atque dicta, itaque dignissimos nam molestias et animi placeat omnis culpa reprehenderit doloribus excepturi quae minima, aliquam non sint ducimus dolorum facere. Voluptas delectus sequi cum, ipsum incidunt aperiam, animi nam fugit quidem at dolorum ab. Quas asperiores provident culpa, eaque inventore ab. Nulla eum, doloremque, in ipsa libero unde quae velit sunt! Quasi ipsa sint, deleniti repellat <a href="#">molestiae reprehenderit aperiam</a>, excepturi modi a totam rem sed, delectus voluptates cumque iste vitae, atque quidem nemo minima aliquam repellendus ea quae expedita voluptatum. Dicta, nihil.</p>
//    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum odio temporibus accusantium expedita est, ea aliquid repellat vel aliquam qui aperiam voluptatem architecto pariatur esse nulla fugiat, totam autem veritatis, optio dicta voluptatum. Ullam odit, vero nostrum adipisci illo saepe, minima. Voluptates libero et, dolore officia nisi. Ex inventore, maiores.</p>
//  </div>
//  <footer class="entry-meta">
//    <span class="sep"> | </span>
//    <span class="tag-links">Tagged <a href="#" rel="tag">wceu 2016</a></span>
//    <span class="sep"> | </span>
//    <span class="comments-link"><a href="#">Leave a comment</a></span>
//    <span class="sep"> | </span>
//    <span class="edit-link"><a class="post-edit-link" href="#">Edit</a></span>
//  </footer>
// </article>
//
// Style guide: 6.post

.post {

  @include clearfix();

  margin-bottom: $unit-default;
  padding-bottom: $unit-default;
  border-bottom: 6px double $color-border-weak;

}

.entry-header {}

.entry-content {

  @include clearfix();

}

.entry-footer {}

.entry-title {

  margin-bottom: $unit-default;

  a {

    &:hover,
    &:focus,
    &:active {

      text-decoration: none;

    }

  }

}

.entry-meta {

  margin-bottom: $unit-default;

  @include font-size(16);
  line-height: em(24,16);
  color: $color-text-weak;

  a {

    color: $color-link-alt;

    &:hover,
    &:focus,
    &:active {

      color: $color-link-alt-hover;

    }

  }

}