/* =Attendees
===================================================== */

// Attendees
//
// Attendees listing
//
// Markup: attendees.html
//
// Style guide: 6.attendees

#tix-attendees {}

.tix-attendee-list {

  @include list-reset();

}

#tix-attendees .tix-columns-3 li {

  width: 100%;

  @include breakpoint(small) {

    width: percentage(1/2);

    &:nth-child(2n+1) {

      clear: left;

    }

  }

  @include breakpoint(large) {

    width: percentage(1/3);

    &:nth-child(2n+1) {

      clear: none;

    }

    &:nth-child(3n+1) {

      clear: left;

    }

  }

}

#tix-attendees {

  @include clearfix();

  li {

    position: relative;

    margin-top: 0;
    margin-bottom: $unit-default;
    height: auto; // Override
    min-height: rem(48); // Image size
    padding-left: rem(64);
    padding-right: rem(8);

    font-size: ms(-1);
    line-height: ms(1);
    text-align: left;

  }

  .avatar {

    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

    margin: 0;
    width: rem(48);
    height: rem(48);
    border: rem(2) solid $color-brand-primary;

    background-color: #fff;

    // transform: rotate(-5deg);
    @include transition-fast();

  }

  a {

    display: block;

  }

  .tix-field {

    display: inline-block;

    margin: 0;
    margin-right: rem(8);

    font-size: ms(0, 14px);
    line-height: ms(2);
    vertical-align: middle;

  }

  .tix-attendee-name {

    display: block;
    padding-right: 0;
    margin-right: 0;
    margin-bottom: rem(2);

    color: $color-text-strong;
    font-weight: $bold;
    font-size: ms(0, 18px);
    line-height: ms(1);

    background: none;

  }

  li:hover .avatar {

    transform: scale(1.1);

  }

  .tix-first {}
  .tix-last {}

  .tix-attendee-url {

    @include ellipsis();
    max-width: rem(180);

  }

  .tix-attendee-twitter {

    &:after {

      display: inline-block;

      width: rem(14);
      height: rem(14);
      margin-left: rem(8);
      vertical-align: middle;

      background: no-repeat $image-bullet-dark 100% 50%;
      background-size: 14px;

      opacity: .5;

      content: "";

    }

    &:last-child:after {

      display: none;

    }

  }

}