/* =Schedule
===================================================== */

// Schedule
//
// Schedule table
//
// Markup: schedule.html
//
// Style guide: 6.schedule

.wcpt-schedule {

  border: rem(4) solid $color-brand-secondary;
  margin-bottom: $unit-default;
  background-color: #fff;

  td,
  th {

    vertical-align: top;
    border-color: $color-border-normal;

  }

  .wcpt-col-time,
  .wcpt-col-track {

    border-top: none;
    background-color: $color-brand-tertiary;
    color: $color-text-strong-invert;

  }

  .global-session td {

    vertical-align: middle;
    // border-top: none;

  }

  // .global-session + tr td {

  //   border-top: none;

  // }


  /* Head */
  .wcpt-col-time {

    width: 10%;

  }

  .wcpt-col-track {

    width: 30%;

  }

  .wcpt-schedule td {}

  .wcpt-time {

    font-size: ms(0);
    line-height: ms(1);
    font-weight: $bold;
    font-family: $font-brand-primary;
    color: $color-text-strong;

  }

  .wcpt-session-title {

    display: block;
    margin-bottom: $unit-xs;

    font-size: ms(1);
    line-height: ms(1);
    font-weight: $bold;

  }

  .global-session {

    &.registration,
    &.lunch,
    &.break,
    &.morning-break,
    &.afternoon-break {

      .wcpt-session-title {

        margin-bottom: 0;

        font-size: ms(2);
        line-height: ms(1);
        font-family: $font-brand-secondary;
        text-transform: uppercase;
        color: $color-text-strong;

      }

    }

  }

  .wcpt-session-speakers {

    display: block;

    a {

      color: $color-text;

    }

  }

  .wcpt-session-empty {}

  .global-session {

    /* Target specifically */
    &.registration,
    &.lunch,
    &.break,
    &.morning-break,
    &.afternoon-break {

      background-color: $color-brand-secondary;

    }

  }

  /*
   * Compact schedule
   *
   * Visible on mobile
   */

  @include breakpoint(to-medium) {

    border: none;

    td,
    th {

      display: block;
      border-top: none;
      margin: 0;

    }

    thead {

      display: none;

    }

    tr {

      margin-bottom: $unit-s;
      display: block;
      border: rem(4) solid $color-brand-secondary;
      // border: 1px solid $color-border-normal;

    }

    .wcb-track-track-1:before,
    .wcb-track-track-2:before,
    .wcb-track-track-3:before {

      display: block;
      padding: $unit-xs $unit-s;
      margin-top: -($unit-xs);
      margin-left: -($unit-s);
      margin-right: -($unit-s);
      margin-bottom: $unit-xs;
      border: none;

      color: $color-text-strong;
      font-weight: $bold;
      background-color: $color-brand-quaternary!important;


    }

    .wcb-track-track-1:before {

      content: "Track 1";

    }

    .wcb-track-track-2:before {

      content: "Track 2";

    }

    .wcb-track-track-3:before {

      content: "Track 3";

    }

    .wcpt-session-type-custom:before {

      display: none;
      content: "";

    }

    .wcpt-session-empty {

      display: none;
      height: 0;

    }

    .wcpt-time {

      padding-top: $unit-s;
      padding-bottom: $unit-s;

      color: $color-text-strong-invert;
      background-color: $color-brand-tertiary;

    }

    .wcpt-session-title {

      padding: 0;

    }

    .wcpt-session-speakers {

      padding-left: 0;

    }

  }

}

/*
 * Session labels
 *
 * Displaying labels for session groups
 */

$session-type-color-design:      #E6AA50; // Gold
$session-type-color-development: #CC9966; // Copper
$session-type-color-community:   #f5ebe0; // Linnen
$session-type-color-business:    #575357; // Ash

@mixin session-label($session-label, $session-color) {

  position: relative;
  padding-bottom: rem(40);

  @include breakpoint(to-medium) {

    padding-bottom: rem(48);

  }

  &:after {

    display: inline-block;
    padding: rem(1) rem(6);

    border: 2px solid $session-color;

    position: absolute;
    bottom: $unit-s;

    font-size: ms(-1);
    line-height: ms(1);
    color: $color-text-strong;
    border-radius: $border-radius-large;
    background: #fff;

    content: "#{$session-label}";

  }

}


// Development
.wcb-session-selfish-accessibility,
.wcb-session-demystifying-the-wordpress-bootstrap-process,
.wcb-session-lightning-talks-development,
.wcb-session-we-are-all-making-this-up-improv-lessons-for-developers,
.wcb-session-is-your-code-ready-for-php7,
.wcb-session-data-visualization-with-the-rest-api,
.wcb-session-security-is-a-process,
.wcb-session-wordpress-security-for-all-you-wont-believe-how-simple-it-can-be,
.wcb-session-css-grid-changes-everything-about-web-layouts,
.wcb-session-improving-wordpress-performance-with-xdebug-and-php-profiling,
.wcb-session-reacting-natively-with-wordpress,
.wcb-session-accessibility-in-the-age-of-the-headless-cms {

  @include session-label('Development', $session-type-color-development);

}

// Business
.wcb-session-3-gifts-my-users-gave-me,
.wcb-session-lightning-talks-content, //
.wcb-session-how-to-grow-from-freelancer-to-agency-owner,
.wcb-session-making-your-voice-heard-how-to-win-friends-and-influence-policy,
.wcb-session-5-ways-you-may-be-sabotaging-your-business-2-proven-ways-to-succeed,
.wcb-session-lessons-learnt-marketing-woocommerce-since-july-2014,
.wcb-session-using-wordpress-for-good {

  @include session-label('Business', $session-type-color-business);

}

// Community

.wcb-session-lightning-talks-inspire, //
.wcb-session-lightning-talks-contributing-to-wordpress,
.wcb-session-the-pernicious-myth-of-the-code-poet,
.wcb-session-big-little-shame-a-tale-of-empowered-user-experience-through-localisation,
.wcb-session-wordpress-beyond-borders-cross-cultural-communication-and-the-fundamentals-of-caring {

  @include session-label('Community', $session-type-color-community);

}

// Design
.wcb-session-new-to-theme-design-heres-what-you-should-know,
.wcb-session-the-three-kinds-of-design,
.wcb-session-big-design-troubles-in-open-source,
.wcb-session-night-of-the-living-style-guides {

  @include session-label('Design', $session-type-color-design);

}


/*
 * Old schedule
 */


.wcb-session-empathy-and-acceptance-in-design-and-community,
.wcb-session-from-blogger-to-wordpress-core-committer,
.wcb-session-handling-anxiety,
.wcb-session-my-friend-the-impostor-syndrome,
.wcb-session-short-talks-03,
.wcb-session-tbd,
.wcb-session-the-2016-plugin-directory,
.wcb-session-the-rebirth-of-the-italian-community,
.wcb-session-the-science-of-happiness {

  @include session-label('Community', #176799);

}

.wcb-session-a-look-into-calypso,
.wcb-session-assistive-technology-demo,
.wcb-session-code-is-poetry-a-musicians-tale,
.wcb-session-connected-wordpress,
.wcb-session-editing-text-at-the-new-york-times,
.wcb-session-internationalizing-the-new-york-times,
.wcb-session-modernizing-wordpress-search-with-elasticsearch,
.wcb-session-moving-forward-with-a-mature-platform,
.wcb-session-my-condolences-youre-now-the-maintainer-of-a-popular-open-source-project,
.wcb-session-open-source-project-management-at-scale-how-1300-people-improved-drupal-8s-multilingual-features,
.wcb-session-seven-times-faster-a-study-in-frontend-optimization,
.wcb-session-short-talks-01,
.wcb-session-short-talks-02,
.wcb-session-short-talks-04,
.wcb-session-tba-2,
.wcb-session-the-swiss-knife-of-a-wordpress-developer,
.wcb-session-the-ultimate-rest-api-dev-talk,
.wcb-session-the-ultimate-rest-api-talk,
.wcb-session-the-ultimate-rest-api-talk-part-2,
.wcb-session-thinking-outside-the-boxmodel-an-introduction-to-flexbox,
.wcb-session-using-composer-to-create-manageable-wordpress-websites,
.wcb-session-using-the-rest-api-and-javascript-to-create-better-wordpress-interfaces,
.wcb-session-whats-new-in-php7-and-what-to-expect-in-php7-1,
.wcb-session-wordpress-hardening-ten-tips-in-ten-minutes,
.wcb-session-wordpress-state-of-the-accessibility {

  @include session-label('Development', #ebe700);

}

.wcb-session-art-directed-web-typography,
.wcb-session-caring-is-the-coolest-thing-ive-ever-seen-anyone-do-thoughts-on-wordpress-plugin-ui,
.wcb-session-emotional-interfaces,
.wcb-session-forefront-a-new-front-end-experience,
.wcb-session-making-ads-great-again,
.wcb-session-moving-the-design-process-to-the-browser {

  @include session-label('Design', #d95e2b);

}

.wcb-session-closing-the-gap-developing-your-support-philosophy,
.wcb-session-cultivating-happy-teams-for-better-business-panel,
.wcb-session-dealing-with-different-client-cultures,
.wcb-session-how-newscorp-australia-scaled-wordpress-to-host-australias-largest-news-websites-on-wordpress-vip,
.wcb-session-privacy-and-the-web-are-you-doing-what-it-takes,
.wcb-session-proudly-powered-by-the-wordpress-rest-api,
.wcb-session-rebuilding-babel-communication-in-a-virtual-world,
.wcb-session-remote-is-the-new-black-to-be-changed,
.wcb-session-reviews-the-good-the-bad-and-the-stalker,
.wcb-session-the-discovery-definition-approach-to-project-planning,
.wcb-session-the-making-of-calypso-a-team-perspective,
.wcb-session-unsafe-harbors-data-protection-strikes-back,
.wcb-session-you-are-too-cheap,
.wcb-session-you-are-too-cheap-2,
.wcb-session-zen-and-the-art-of-online-communication {

  @include session-label('Business', #e32d88);

}

.wcb-session-beyond-seo-copywriting-for-professionals,
.wcb-session-publish-in-10-minutes-per-day,
.wcb-session-your-content-is-trapped-how-a-proper-content-architecture-can-save-it {

  @include session-label('Content', #e32d88);

}

.wcb-session-lets-write-a-plugin-demystifying-the-art-and-science-of-plugin-development,
.wcb-session-multisite,
.wcb-session-the-ultimate-wordpress-development-environment,
.wcb-session-themes-plugins-in-harmony,
.wcb-session-theming-in-wordpress-where-do-i-start,
.wcb-session-website-security-the-big-picture-w-simple-steps-to-take,
.wcb-session-wp-cli-for-beginners {

  @include session-label('Development for Beginners', #ebe700);

}

.wcb-session-contributing-to-wordpress-for-business-profession-the-community,
.wcb-session-japanese-wordpress-community,
.wcb-session-keys-to-growing-developing-your-wordpress-meetup,
.wcb-session-managing-a-local-wordpress-community {

  @include session-label('Running a local WP community', #176799);

}

.wcb-session-changing-the-world-one-wordpress-site-at-a-time-how-we-built-a-successful-distributed-wordpress-firm-serving-nonprofits,
.wcb-session-making-the-leap-successful-products-as-a-web-agency,
.wcb-session-managing-a-remote-wordpress-team,
.wcb-session-project-management-or-how-to-herd-cats,
.wcb-session-whats-my-wordpress-sites-email-strategy {

  @include session-label('Running a WordPress agency', #e32d88);

}