/* =Experimental
===================================================== */

/*
 * Attendees page
 *
 * Experimenting with global style overrides
 */

.page-slug-attendees {

  #primary {

    max-width: rem(1400);

  }

  .entry-title {

    position: relative;

    margin-bottom: $unit-l;
    margin-bottom: rem(64);
    padding-bottom: rem(64);

    text-align: center;

    &:before {

      width: rem(160);
      height: rem(2);

      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);

      background-color: $color-brand-secondary;

      content: "";

    }

  }

}

/*
 * Speaker page
 *
 * Component description
 */

.wcb_speaker {

  .entry-meta {

    @include visually-hidden();

  }

  // Image
  .speaker-avatar {

    float: left;
    margin: $unit-xs $unit-s $unit-xs 0;

  }

  // Title
  .speaker-sessions {}

  // List
  .speaker-session-names {}

}