/*
 * Information
 *
 * Standards for developing flexible, durable, and sustainable HTML and CSS.
 * http://codeguide.co/
 *
 */

/* =Include
===================================================== */

// 0 — Overview (styleguide.md)
// 1 — Settings
// 2 — Tools
// 3 — Generic
// 4 — Elements
// 5 — Objects
// 6 — Components
// 7 — Trumps

@import "bourbon/bourbon";             // Bourbon [http://bourbon.io/]
@import "susy/susy";                   // Susy [http://susy.oddbird.net/]
@import "modular-scale/modular-scale"; // Modular scale [https://github.com/modularscale/modularscale-sass]

// Settings
//
// Global variables
//
// Style guide: 1

// Settings: Global variables, config switches
@import "settings.colors";
@import "settings.typography";
@import "settings.other";

// Tools
//
// Default mixins and functions
//
// Style guide: 2

// Tools: Default mixins and functions
@import "tools.mixins";
@import "tools.media-queries";

// Generic
//
// Ground–zero styles (Normalize.css, resets, box-sizing...)
//
// Style guide: 3

// Generic: Ground–zero styles (Normalize.css, resets, box-sizing...)
@import "generic.normalize";
@import "generic.box-sizing";
@import "generic.other";

// Elements
//
// Unclassed HTML elements (type selectors)
//
// Style guide: 4

// Elements: Unclassed HTML elements (type selectors)
@import "elements.headings";
@import "elements.hr";
@import "elements.forms";
@import "elements.links";
@import "elements.page";
@import "elements.lists";
@import "elements.quotes";
@import "elements.tables";
@import "elements.images";
@import "elements.code";

// Objects
//
// Cosmetic–free design patterns
//
// Style guide: 5

// Objects: Cosmetic–free design patterns
@import "objects.colors";
@import "objects.layout";
@import "objects.nav";
// @import "objects.media";

// Components
//
// Designed components, chunks of UI
//
// Style guide: 6

// Components: Designed components, chunks of UI
@import "components.buttons";
@import "components.forms";
@import "components.branding";
@import "components.header";
@import "components.navigation";
@import "components.footer";
@import "components.main";
@import "components.post";
@import "components.organizers";
@import "components.attendees";
@import "components.comments";
@import "components.tickets";
@import "components.nav-pagination";
@import "components.oembed";
@import "components.schedule";
@import "components.sessions";
@import "components.speakers";
@import "components.sponsors";

@import "components.widgets";
@import "components.widget-subscribe";
@import "components.widget-text-social";

@import "components.page-sponsors";
@import "components.page-attendees";
@import "components.page-day-of";


// Trumps
//
// Helpers and overrides
//
// Style guide: 7

// Trumps: Helpers and overrides
@import "trumps.utilities";
@import "trumps.images";

// Playing around
@import "experimental";
@import "styleguide";